.nav-pills .nav-link
{
  font-weight: 500;

  padding: .75rem 1rem;

  transition: all .15s ease;

  color: #5e72e4;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
